<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

    <div class="container">
        <header>
            <h2>Mini WhatsApp</h2>
            <form method="get" action="/chats/new">
                <button class="new-chat">+ New Chat</button>
            </form>
        </header>

        <div class="chat-list">
            <% for(let chat of chats) { %>
                <div class="chat">
                    <p class="from">From: <i><%= chat.from %></i></p>
                    <div class="message">
                        <p><%= chat.message %></p>
                        <form method="GET" action="/chats/<%= chat.id %>/edit">
                            <button>Edit</button>
                        </form>
                        <form method="post" action="/chats/<%= chat.id %>?_method=Delete">
                            <button>Delete</button>
                        </form>
                    </div>
                    <p class="to">Received by: <i><%= chat.to %></i></p>
                    <p><%= chat.created_at.toString().split(" ")[4] %></p>
                    <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
                    
                </div>
            <% } %>
        </div>
    </div>

</body>
</html>

